:root{
    --cyan: hsl(179,62%,43%);
    --bright-yellow:hsl(71,73%,54%);
    --light-grey:hsl(204, 43%, 93%);
    --greyish-blue:hsl(218,22%,67%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "karla", sans-serif;
    font-size: 16px;
    background-color: var(--light-grey);
    padding: 1.25rem;
}
.container{
    background-color: #fff;
    border-radius: 0.625rem;
    border-bottom-left-radius:0.625rem;;
}
ul{
    list-style-type: none;
}
.btn{
    background-color: var(--bright-yellow);
    padding: 0.625rem 1.25rem;
    border-radius: 0.3rem;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-family: inherit;
    font-size: 1rem;
    font-weight: bold;
    width: 100%;
}
p{
    line-height: 1.6;
}
li{
    line-height: 1.6;
}
.green{
    color: var(--bright-yellow);
    font-weight: 700;
}
.container > article:first-child{
    padding: 2rem;
}
.container > article:first-child h1{
    color: var(--cyan);
    margin-bottom: 1rem;
}
.container > article:first-child p {
    margin-bottom: 1rem;
}
.container > article:first-child p:last-child{
    color: var(--greyish-blue);
}
.container section{
    display: flex;
    flex-direction: column;
}
.container section article{
    padding: 2rem;
    color: #fff;
}
.container section article:first-child{
    background-color: var(--cyan);
}
.container section article:first-child h2{
    margin-bottom: 1rem;
}
.container section article:first-child h3{
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.container section article:first-child h3 span{
    font-weight: 700;
    font-size: 2rem;
    margin-right: 1rem;
}
.container section article:first-child p{
    margin:1rem 0;
}
.container section article:nth-child(2){
    background-color: hsl(179,62%,49%);
    border-bottom-left-radius: 0.625rem;
    border-bottom-right-radius: 0.625rem;
}
.container section article:nth-child(2) h2{
    margin-bottom: 1rem;
}


.attribution { font-size: 11px; text-align: center; margin-top: 2rem; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width:760px){
    body{
        margin-top: 2rem;
    }
    .container{
        width: 700px;
        margin: auto;
        border-radius: 0.625rem;
    }
    .container > article:first-child h1{
        font-size: 2rem;
    }
    .container section {
        flex-direction: row;
    }
    .container section article:first-child{
        flex: 1;
        border-bottom-left-radius:0.625rem;
    }
    .container section article:last-child{
        flex: 1;
        border-bottom-right-radius:0.625rem;
        border-bottom-left-radius: 0;
    }
}